.home-header{

    .button-menu{
      margin-left: 20px;
    }
    
    .home-title{
        text-align: center;
        margin-top: 20px;
        font-size: 3rem;
    }
}

.article{
    width: 500px;
    margin: 20px auto;
    border: 1px solid black;

    .article-image{
        width: 170px;
        float: left;
    }

    .article-content{
        

        .article-title{

        }

        .article-description{
           
        }

    }

    
}
