.home-header{
    .home-title{
        text-align: center;
        margin-top: 20px;
        font-size: 3rem;
    }
}

.button-menu{
    margin-left: 20px;
    min-width: 100px;
}

.article{
    width: 700px;
    margin: 20px auto;
    padding: 0;
    border: 1px solid black;

    .article-image{
        margin: 0;
       object-fit: scale-down;
    }

    .article-content{
        padding: 10px;

        .article-title{

        }

        .article-description{
           text-align: justify;
        }

    }

    
}
