<main *ngIf="team">
    <h2 class="team-name" fxLayoutAlign="center center">{{team.name}}
        <img class="team-flag" src="{{team.flag}}" alt="drapeau de la France"/>
    </h2>
    <a (click)="goBackToGroup()">
        <img src="../../assets/images/return.png" alt="return to home page" class="return-icon" />
    </a>
    
    <table class="team-table">
        <tr>
            <th>Joueur</th>
            <th>Poste</th>
            <th>Equipe championnat</th>
        </tr>
        <tr *ngFor="let player of team.players">
            <td class="table-cell">{{player.firstname}} {{player.lastname}}</td>
            <td class="table-cell">{{player.job}}</td>
            <td class="table-cell">{{player.club}}</td>
        </tr>
    </table>
</main>

