.login-main {
    height: 100vh;
    width: 100vw;
    background-image: url('../../assets/images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.login-banniere{
    width: 700px;
    height: 20%;
}

.login-form{
    width: 500px;

    .mat-form-field{
        
        .mat-label{

        }

        .login-input{
        
        }
    }

    .login-button{
        margin: 20px;
    }
}