<div class="login-main">
    <img class="login-banniere" src="../../assets/images/banniere.jpg" alt="bannière" />
    <form class="login-form" fxLayout="column" fxLayoutAlign="center" (ngSubmit)="onSubmit()">
        <input class="input-login" type="text" placeholder="Email" name="mail" [(ngModel)]="email"/>
        <input class="input-login" type="password" placeholder="Password" name="password" [(ngModel)]="password"/>
        <button type="submit" mat-flat-button color="primary" class="login-button" >Connexion</button>
    </form>
</div>
