.login-main{
    background-image: "../../assets/images/background.jpg";
}

.login-banniere{
    display: block;
    margin: auto;
    width: 700px
}

.login-form{
    width: 500px;
    margin: auto;
    .input-login{
        padding: 10px;
        margin: 20px;
    }

    .login-button{
        margin: 20px;
    }
}